<a href="https://colab.research.google.com/github/Dan22dongwon/Pandas-sci-kit-learn/blob/main/3_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%95%B8%EB%93%A4%EB%A7%812_%ED%9E%8C%ED%8A%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas란? 

* 데이터를 효과적으로 처리하고, 보여줄 수 있도록 도와주는 라이브러리입니다.
* Numpy와 함께 사용되어 다양한 연계적인 기능을 제공합니다.
* 인덱스(Index)에 따라 데이터를 나열하므로 사전(Dictionary) 자료형에 가깝습니다.
* 시리즈(Series)를 기본적인 자료형으로 사용합니다.
* 엑셀(Excel)과 거의 유사합니다

## Pandas 진짜 조금 더 알아보기
* 분석을 할 때는 열(column) 단위로

* Series는 **1차원 배열**의 형태를 가짐, 인덱스라는 한 가지 기준에 의하여 데이터 저장
, 시리즈는 단일한 형태의 객체를 가짐
→ (일차원 ndarray로서 축 레이블을 가지고 있고, 배열 형태, dict, 스칼라 값 등을 저장 할 수 있어 dictionary는 키:값 쌍을 저장하는 파이썬의 기본 자료구조로서, 내장 메소드를 통해데이터를 조작할 수 있음)

* Series는 dictionary와 달리 정렬되어 있고, 복잡한 데이터 조작이나 파일 입출력을 할 때 유용한 메소드와 속성을 가지고 있다.

* Series를 쓰면 dictionary보다 더 효율적이고 간편하게 데이터를 다룰 수 있음

* DataFrame은 **2차원 배열**의 형태를 가짐, 여러 개의 시리즈를 모아놓기 위해 사용, 표 형태로 데이터 출력하고자 사용
인덱스와 컬럼 두 가지 기준에 의하여 표 형태처럼 데이터가 저장 됨

### Pandas 첫번째 노드 사용어(클래스) 정리
--------------------------------------------------------------------
|연산자|클래스|설명|
|------|------|----|
| |`.head()`|  데이터 샘플 확인: 기본 5개 출력, 괄호 안에 숫자 입력하면 해당 숫자까지 나옴|
| |`.tail()`|  데이터 샘플 확인: 기본 뒤에서 5개 출력, 		  " "|
| |`pd.read_csv('')`| 괄호 안의 csv 파일 불러오기|
| |`data.to_csv('modudak.csv', index=False)`|  만들어 둔 데이터 이름 (data) 를 csv 파일로 생성, 기본적으로 index 값은 True, False로 해서 없앨? 수 있음|
|`-`|`.difference`| 포함하지 않는 요소만 가져오기|
|`& ` |`.intersection`|조건 둘 이상 만족할 경우|
|`\|`|`.union`|조건 둘 이상 중에 하나 만족할 경우|
| |`.isin():`| ()안에 입력한 값이 있는지 보여줌 ex) new = df['가격'].isin([12000]): 가격 컬럼 안의 값이 12000이라면 출력 |
| |`.loc`| 인덱스 명 인덱스 명(범위), 컬럼 명(범위)|
||`.iloc`| 인덱스 번호 인덱스 번호(범위), 컬럼 번호(범위)|
||`.set_index(keys=[' '])`| ' ' 안의 문자로 인덱스를 변경할 수 있음|
||`.reset_index()`| 인덱스 값을 원래대로 돌릴 때 사용, (기본 값 drop = False)index 값을 굳이 살릴 필요 없다면 drop = True|
||`df[' '] = (수식이나 넣을 값 등 입력)` | 컬럼에 해당 내용 추가 ex) df|['할인율'] = df['가격'] * (1 - 0.3): 할인율 열에 가격의 열 내용 * 0.7의 값 가져옴|
||`df.replace().replace() `|replace를 여러번 사용할 수 있음, 첫번째 리플레이스 적용 후 두번째 리플레이스 적용|

### Pandas 두번째 노드 사용어(클래스) 정리
--------------------------------------------------------------------
**행 삭제**  

|클래스|설명|
|------|----|
|`df.drop('Unnamed: 0', axis=1)`|'Unnamed: 0' 컬럼의 데이터들을 열방향(axis=1)으로 삭제하기|
|`df.drop(columns=['Unnamed: 0', '원산지'])`|리스트 안의 요소에 있는 컬럼이 모두 삭제|  
  
--------------------------------------------------------------------
**결측치 처리**  

|클래스|설명|
|------|----|
|`df.dropna(axis=0)`|결측치가 있는 행 모두 삭제(기본값 axis=0), 결측치가 있는 컬럼 모두 삭제(axis=1)|
|`df.isnull()`|결측치 확인하기 bool 형태의 DF 타입 반환|
|`df.isnull().sum()`|컬럼별 결측치의 개수 확인할 수 있음|
|`df['원산지'].fillna('알수없음')`|'원산지' 컬럼의 결측치 '알수없음'로 채우기|
|`df['칼로리'].fillna(df['칼로리'].min())`|'칼로리' 컬럼의 결측치를 칼로리 컬럼의 최솟값으로 채우기|


--------------------------------------------------------------------
  
**정렬**  

|클래스|설명|
|------|----|
|`df.sort_index(ascending = True)` |(ascending = True) 오름차순 정렬(기본 값), 내림차순 정렬 (ascending = False)|
|`df.sort_values('가격')` |가격 컬럼 기준으로 오름차순 정렬|
|`df.sort_values(['가격', '원산지'], ascending = [False, True])`|복합 적용, 리스트 형으로 묶어주고 출력 할 컬럼 불러오기, 어느 기준으로 어센딩 할 지 각각 리스트로 표현|

--------------------------------------------------------------------
**자료형 변환**  


|클래스|설명|
|------|----|
|`df.reset_index(drop = True)` 	|기존의 인덱스 값이 삭제되고, 리셋이 됨|
|`df.info()` |type 확인 어떤 형식 (DataFrame 등), dtypes, data columns 등 확인 가능|
|`df['호수'] = df['호수'].str.replace('호','')` 	|호수 열 안의 호 삭제, 단어 삭제나 변경|
|`df['호수'] = df['호수'].astype(int)` | 자료형 변환 astype() 괄호 안에 바꿔줄 형태|

--------------------------------------------------------------------
**데이터탐색**  
    

|클래스|설명|
|------|----|
|`df['호수'].mean()`|평균 구하기|
|`df.['호수'].std()`|표준편차 구하기|
|`df.shape`|데이터 프레임 크기 (행, 컬럼) 확인, 괄호 넣지 않고 shape 메소드만|
|`df.describe()`|기초 통계|
|`df.describe(include = 'O')`|기초 통계 (object), O(오)를 입력하면 오브젝트 수가 나옴|
|`df.corr()`|상관관계|
|`df.nunique()`|항목 종류 수|
|`df['호수'].unique()`|항목 종류|
|`df['호수'].value_counts()`|항목별 개수, 유니크보다 보기 편해서 많이 사용|
|`df.count()`|카운트 (컬럼) # 기본 값 axis = 0,    df.count(axis = 1)로 하면 행으로 나옴|
|`df.shape[0]`|행 확인, len(df)으로도 확인 가능|

----------------------------------------------------------------------
**내장 함수**  

  
|클래스|설명|
|------|----|
|`df['가격'].max()`|가격 열의 최대값|
|`df['가격'].min()`|가격 열의 최소값|
|`df['가격'].mean()`|가격 열의 평균값|
|`df['가격'].median()`|가격 열의 중앙값|
|`df['가격'].sum()`|가격 열의 합|
|`df['가격'].std()`|가격 열의 표준편차|
|`df['가격'].var()`|가격 열의 분산|
|`df['가격'].describe()`|가격 열의 백분위수|
|`df['가격'].quantile(0.25)`|하위 25% 값, quantile()괄호 안에 뽑을 값 입력|

--------------------------------------------------------------------
**그룹핑, apply**  


|클래스|설명|
|------|----|
|`cond = df['가격'].quantile(0.25) > df['가격']`|하위 25% 데이터를 전부 뽑아야 하므로 변수 선언 후 수식 입력|
|`df['원산지'].mode()[0]`|최빈값 구하기, .mode()까지만 작성하면 해당 열에 해당하는 유니크 값이 나옴, 리스트 형으로 추출할 값 숫자 입력|
|`df.T`|Transpose, 행과 열 바꿈 (전치행렬)|
|`df.groupby('원산지').mean()`|기준을 적어서 그룹핑을 하고 평균을 출력해야 함, df['원산지'].mean()하면 int형과 str형이 섞여서 에러|
|`df.groupby([ '원산지', '할인율'] )['가격'].mean()`|결과만 보면 Series 형태|
|`pd.DataFrame(df.groupby(['원산지', '할인율'])['가격'].mean())`|데이터프레임으로 다시(?) 묶어줌|
|`df.groupby(['원산지', '할인율'])[['가격']].mean()`|가격 부분에 대괄호를 하나 더 씌워줌으로써 2차원 (DataFrame)을 바로 묶어주기가 가능|
|`df.groupby(['원산지', '할인율']).max()`|원산지와 할인율 기준 최대값|
|`df.groupby(['원산지', '할인율']).max().reset_index()`|1개 인덱스 형태로 리셋|    
  
-----------------------------------------------------------------------  
**apply 함수**    
  
|클래스|설명|
|------|----|
|`df['살찔까요'] = df['칼로리'].apply(cal)`|apply 적용해서 새로운 컬럼 생성, 위의 함수 입력되어서 살찔까요에 해당 조건이 맞으면 Yes or No 출력|
|`df['고민중'] = df['칼로리'].apply(lambda x: '먹지마' if x >= 1300 else '먹어라')`|lambda를 사용해서 바로 간결하게 조건식 적용|

# 실습하기

iris data 가지고 배운 내용 실습하기  

[캐글 iris 데이터](https://www.kaggle.com/datasets/uciml/iris)

In [ ]:
import pandas as pd
import numpy as np

# iris 데이터 불러오기
df = pd.read_csv('/content/sample_data/Iris.csv')

In [ ]:
# 데이터 확인하기
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [ ]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## 행 삭제

In [ ]:
# Id 컬럼은 특성이 아니므로 삭제
df = df.drop('Id', axis=1)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

## 결측치처리

In [ ]:
# 결측치 확인하기
# 각 컬럼의 결측치 합계로 결측치 파악

df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
# 결측치 데이터 추가하기
df['New'] = np.nan
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,New
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,NaN
146,6.3,2.5,5.0,1.9,Iris-virginica,NaN
147,6.5,3.0,5.2,2.0,Iris-virginica,NaN
148,6.2,3.4,5.4,2.3,Iris-virginica,NaN
149,5.9,3.0,5.1,1.8,Iris-virginica,NaN

In [ ]:
# 결측치데이터에 '알수없음' 넣기
df['New'] = df['New'].fillna('알수없음')
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,New
0,5.1,3.5,1.4,0.2,Iris-setosa,알수없음
1,4.9,3.0,1.4,0.2,Iris-setosa,알수없음
2,4.7,3.2,1.3,0.2,Iris-setosa,알수없음
3,4.6,3.1,1.5,0.2,Iris-setosa,알수없음
4,5.0,3.6,1.4,0.2,Iris-setosa,알수없음
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,알수없음
146,6.3,2.5,5.0,1.9,Iris-virginica,알수없음
147,6.5,3.0,5.2,2.0,Iris-virginica,알수없음
148,6.2,3.4,5.4,2.3,Iris-virginica,알수없음
149,5.9,3.0,5.1,1.8,Iris-virginica,알수없음

## 정렬

In [ ]:
# 'SepalLengthCm' 컬럼을 오름차순으로 정렬
df.sort_values('SepalLengthCm')

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,New
13,4.3,3.0,1.1,0.1,Iris-setosa,알수없음
42,4.4,3.2,1.3,0.2,Iris-setosa,알수없음
38,4.4,3.0,1.3,0.2,Iris-setosa,알수없음
8,4.4,2.9,1.4,0.2,Iris-setosa,알수없음
41,4.5,2.3,1.3,0.3,Iris-setosa,알수없음
...,...,...,...,...,...,...
122,7.7,2.8,6.7,2.0,Iris-virginica,알수없음
118,7.7,2.6,6.9,2.3,Iris-virginica,알수없음
117,7.7,3.8,6.7,2.2,Iris-virginica,알수없음
135,7.7,3.0,6.1,2.3,Iris-virginica,알수없음
131,7.9,3.8,6.4,2.0,Iris-virginica,알수없음

In [ ]:
# 여러 컬럼 기준으로 정렬하기

df.sort_values(['SepalLengthCm', 'SepalWidthCm'], ascending=[False, True])

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,New
131,7.9,3.8,6.4,2.0,Iris-virginica,알수없음
118,7.7,2.6,6.9,2.3,Iris-virginica,알수없음
122,7.7,2.8,6.7,2.0,Iris-virginica,알수없음
135,7.7,3.0,6.1,2.3,Iris-virginica,알수없음
117,7.7,3.8,6.7,2.2,Iris-virginica,알수없음
...,...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,Iris-setosa,알수없음
8,4.4,2.9,1.4,0.2,Iris-setosa,알수없음
38,4.4,3.0,1.3,0.2,Iris-setosa,알수없음
42,4.4,3.2,1.3,0.2,Iris-setosa,알수없음
13,4.3,3.0,1.1,0.1,Iris-setosa,알수없음

In [ ]:
# 인덱스 새로 만들기

data = df.sort_values(['SepalLengthCm'], ascending=False)
data = data.reset_index(drop=True)
data

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,New
0,7.9,3.8,6.4,2.0,Iris-virginica,알수없음
1,7.7,3.0,6.1,2.3,Iris-virginica,알수없음
2,7.7,2.8,6.7,2.0,Iris-virginica,알수없음
3,7.7,3.8,6.7,2.2,Iris-virginica,알수없음
4,7.7,2.6,6.9,2.3,Iris-virginica,알수없음
...,...,...,...,...,...,...
145,4.5,2.3,1.3,0.3,Iris-setosa,알수없음
146,4.4,3.2,1.3,0.2,Iris-setosa,알수없음
147,4.4,3.0,1.3,0.2,Iris-setosa,알수없음
148,4.4,2.9,1.4,0.2,Iris-setosa,알수없음
149,4.3,3.0,1.1,0.1,Iris-setosa,알수없음

## 자료형 변환

In [ ]:
# 데이터 자료형 확인하기

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
 5   New            150 non-null    object
dtypes: float64(4), object(2)
memory usage: 7.2+ KB

## 데이터 탐색

In [ ]:
# 데이터 크기 파악
df.shape

(150, 6)

In [ ]:
# 기초통계
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [ ]:
# 상관관계
df.corr()

<ipython-input-15-b2efe41cdbe9>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109369       0.871754      0.817954
SepalWidthCm       -0.109369      1.000000      -0.420516     -0.356544
PetalLengthCm       0.871754     -0.420516       1.000000      0.962757
PetalWidthCm        0.817954     -0.356544       0.962757      1.000000

In [ ]:
# object 기초 통계
df.describe(include='O')

            Species   New
count           150   150
unique            3     1
top     Iris-setosa  알수없음
freq             50   150

In [ ]:
# 항목 종류 수
df.nunique()

SepalLengthCm    35
SepalWidthCm     23
PetalLengthCm    43
PetalWidthCm     22
Species           3
New               1
dtype: int64

In [ ]:
# 항목별 개수
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

## 내장함수

In [ ]:
df.count()

SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
New              150
dtype: int64

In [ ]:
# 'SepalLengthCm'의 최댓값, 최솟값
df['SepalLengthCm'].max(), df['SepalLengthCm'].min()

(7.9, 4.3)

In [ ]:
# 'SepalLengthCm'의 평균값, 중앙값
df['SepalLengthCm'].mean(), df['SepalLengthCm'].median()

(5.843333333333334, 5.8)

In [ ]:
# 'SepalLengthCm'의 표준편차
df['SepalLengthCm'].std()

0.828066127977863

## 그룹핑

In [ ]:
# 그룹핑 통해서 쉽게 파악하기

df.groupby('Species').describe()

                SepalLengthCm                                              \
                        count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa              50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor          50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                SepalWidthCm         ... PetalLengthCm      PetalWidthCm  \
                       count   mean  ...           75%  max        count
Species                              ...
Iris-setosa             50.0  3.418  ...         1.575  1.9         50.0
Iris-versicolor         50.0  2.770  ...         4.600  5.1         50.0
Iris-virginica          50.0  2.974  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [ ]:
# 그룹핑 통해서 각 컬럼별 기초 통계 확인하기 

df.groupby('Species')[['SepalLengthCm']].describe()

                SepalLengthCm
                        count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa              50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor          50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [ ]:
df.groupby('Species')[['SepalWidthCm']].describe()

                SepalWidthCm
                       count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa             50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor         50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica          50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [ ]:
df.groupby('Species')[['PetalLengthCm']].describe()

                PetalLengthCm
                        count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa              50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor          50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica           50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [ ]:
df.groupby('Species')[['PetalWidthCm']].describe()

                PetalWidthCm
                       count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa             50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor         50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica          50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [ ]:
cols = df.select_dtypes(include='float64').columns

for col in cols:
    print(df.groupby('Species')[[col]].describe())

                SepalLengthCm
                        count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa              50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor          50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9
                SepalWidthCm
                       count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa             50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor         50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica          50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8
                PetalLengthCm
                        count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa              50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor          50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica           50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9
                PetalWidthCm
                       count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa             50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor         50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica          50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

## apply 함수

In [ ]:
df['area'] = df['SepalLengthCm'] * df['SepalWidthCm']

df['area'] = df['area'].apply(lambda x: 'big' if x > 18 else 'small')
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,New,area
0,5.1,3.5,1.4,0.2,Iris-setosa,알수없음,small
1,4.9,3.0,1.4,0.2,Iris-setosa,알수없음,small
2,4.7,3.2,1.3,0.2,Iris-setosa,알수없음,small
3,4.6,3.1,1.5,0.2,Iris-setosa,알수없음,small
4,5.0,3.6,1.4,0.2,Iris-setosa,알수없음,small
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,알수없음,big
146,6.3,2.5,5.0,1.9,Iris-virginica,알수없음,small
147,6.5,3.0,5.2,2.0,Iris-virginica,알수없음,big
148,6.2,3.4,5.4,2.3,Iris-virginica,알수없음,big
149,5.9,3.0,5.1,1.8,Iris-virginica,알수없음,small